<script type="text/javascript">
  var dependency = [
    "angular",
    "js/app/login/services"
  ];
  seajs.use(dependency, function () {
    var app = angular.module("Login", ["app.login.services"]);
    app.controller("loginCtrl", ["$scope", "Login",function ($scope, Login) {
      $scope.username = '';
      $scope.password = '';
      $scope.ok = function () {
        Login.in($scope.username, $scope.password).success(function (data) {
          console.log(data);
        }).error(function (data) {
          console.log(data);
        });
      }
    }]);
    angular.bootstrap(document.body, ['Login']);
  });
</script>

  <div class="row" ng-controller="loginCtrl">
    <div class="col-md-12">
      <form class="form-horizontal" role="form" name="loginForm">
        <div class="form-group">
          <label class="control-label col-md-2" for="username">用户名</label>
          <div class="col-md-4">
            <input class="form-control" type="text" name="username" value="" required ng-model="username">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2" for="password">密码</label>
          <div class="col-md-4">
            <input class="form-control" type="password" name="password" value="" required ng-model="password">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2" for=""></label>
          <div class="col-md-6">
            <button class="btn btn-default" type="button" ng-click="ok()" ng-disabled="loginForm.$invalid">登录</button>
          </div>
        </div>
      </form>
    </div>
  </div>
