doctype html
html(lang="en")
  head
    meta(chartset="utf-8")
    - var title = "Angular To Do List"
    block title
      title= title
    script(type="text/javascript", src="/node_modules/seajs/dist/sea.js")
    script(type="text/javascript", src="/js/seajs.config.js")
    script(type="text/javascript", src="/node_modules/jquery/dist/jquery.js")
    script(type="text/javascript", src="/node_modules/bootstrap/dist/js/bootstrap.js")
    link(rel="stylesheet", type="text/css", href="/node_modules/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet", type="text/less", href="/css/main.less")

    block stylesheet
    block headscript
  body
    header.container-fuild.nav
      div.container
        div.row
          div.col-md-12
            = "ToDoList"

    div.container.main
      block content
    footer.footer.container-fuild
      div.container
        div.row
          div.col-md-12
            != "@chile.zhang"
  script
    != "less = { env: 'development'};"
  script(src="/node_modules/less/dist/less.js")
  script
    != "less.watch();"

  block footer
